#body{
   background-color: cadetblue;

}
.menu{
    background-color: aliceblue;
}
.menu_item{
    background-color: gold;
    border-radius: 20px;
    width: 100px;
    height: 100px;;
}